$HTTP["host"] == "{{ansible_default_ipv4.address}}" {
  var.server_name = "{{lgf_server_name}}"

  server.name = server_name
  server.document-root = server_root + "/html/ideensammlung/ideensammlung"


$HTTP["url"] !~ "^/uploads/" {
  proxy.server = ( "" => (
                   ( "host" => "127.0.0.1", "port" => 12345 )
                 ) )
}
$HTTP["url"] =~ "^/{{lgf_media_dir}}" {

        alias.url = (
            "/{{lgf_media_dir}}" => server.document-root + "/{{lgf_media_dir}}"
        )

}
}
